# Luxury Housing Sales Analysis - Bengaluru
# Python Dependencies

# Core Data Libraries
pandas==2.3.2
numpy==2.3.3

# Database Connectivity
SQLAlchemy==2.0.43


# Data Visualization & Analysis
matplotlib==3.10.7
seaborn==0.13.2






